@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  outline: none;
}

body {
  margin: 20px;
  font-family: 'Rubik';
  color: $basic;
}

a {
  text-decoration: none;
}

.layout {
  width: 1200px;
  margin: 0 auto;
}

